<!DOCTYPE html>
<head>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" media="screen">
</head>
<html>
<body>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
    <script src="//cdn.jsdelivr.net/mojs/latest/mo.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='main.js')}}"></script>
    <!input id="clickMe1" type="button" value="clickme" onclick="doFunction1();" />
</body>
</html>
